.idea/
Inwentaryzacja_zywnosci.drawio
lokalhost_entry.py
__pycache__/
.$Inwentaryzacja_zywnosci.drawio.dtmp
.$Inwentaryzacja_zywnosci.drawio.pkb
.$Inwentaryzacja_zywnosci.drawio.bkp
test.py
test_2.py
test3.py
test5.py
test_menu.py
test_canvas.py
test_static_frem_size.py
shopping_list.txt
test_printer.py
test_stale_srawdzanie.py
