.idea/
Inwentaryzacja_zywnosci.drawio
lokalhost_entry.py
__pycache__/
.$Inwentaryzacja_zywnosci.drawio.dtmp
.$Inwentaryzacja_zywnosci.drawio.pkb
.$Inwentaryzacja_zywnosci.drawio.bkp
test.py
test_2.py

